@tailwind base;
@tailwind components;
@tailwind utilities;

.header-name {
  font-size: 34px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.headline {
  width: 100%;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.button {
  padding: 5px 10px;
  margin: 10px;
}
